.card-form {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #fff;
}

.form-header {
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 8.375rem;
  background: #fff;
  padding: 0 2.1875rem 0 3.375rem;
  box-shadow: 0px 5px 50px 0px rgba(255, 255, 255, 0.7);

  @include desktop {
    top: 0;
    bottom: auto;
  }

  button {
    font-family: 'apercubold', sans-serif;
    border: 0;
    letter-spacing: 0.1rem;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .cancel-button {
    background: transparent;
    font-size: 0.8125rem;
    font-weight: normal;
    color: $placeholder-text;
    margin-right: 2.2rem;

    &:hover {
      color: lighten($primary-bg-dark, 10%);
    }
  }

  .save-button {
    font-size: 0.8125rem;
    color: #fff;
    width: 13.5625rem;
    height: 4.3125rem;
    background: $start-button;
    border-radius: 500px;

    &:hover {
      background: darken($start-button, 10%);
    }
  }
}

.form-section {
  display: block;
  padding-top: 20px;
  width: 700px;
  margin: 1.875rem;

  @include desktop {
    padding-top: 120px;
  }

  input {
    width: 100%;
    border: 0;
    background: #fff;
    font-family: 'apercubold', sans-serif;
    font-size: 2.5rem;
    outline: none;
    padding: 0;
    color: $primary-bg-dark;
  }

  ::-webkit-input-placeholder {
    color: $placeholder-text;
  }
  ::-moz-placeholder {
    color: $placeholder-text;
    opacity: 1;
  }
  // :-ms-input-placeholder {
  //   /* IE 10+ */
  //   color: #6c7f9b;
  // }
  // :-moz-placeholder {
  //   /* Firefox 18- */
  //   color: #6c7f9b;
  // }

  [contenteditable='true']:empty:before {
    content: attr(placeholder);
    display: block; /* For Firefox */
    color: #8f9fb2;
  }

  [contenteditable]:focus {
    outline: 0px solid transparent;
  }

  div[contenteditable] {
    width: 100%;
    font-family: 'apercuregular', sans-serif;
    color: $primary-bg-dark;
    font-size: 1.1875rem;
    margin: 1.5em 0 5em 0;
    line-height: 2.2rem;
    word-spacing: 0.06rem;
  }
}
