.card-form {
  display: flex;
  justify-content: center;
  // align-items: center;
  width: 100%;
  height: 100vh;
  background: #fff;
}

.form-header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 120px;
  padding: 0 2.5rem;

  button {
    font-family: 'apercubold', sans-serif;
    border: 0;
    letter-spacing: 0.1rem;
    font-size: 0.77rem;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .back-button {
    background: transparent;

    &:hover {
      transform: translateX(-4px);
    }
  }

  .save-button {
    color: #fff;
    height: 3.75rem;
    background: $start-button;
    border-radius: 500px;
    padding: 0 2rem;

    &:hover {
      background: darken($start-button, 10%);
      transform: scale(1.02);
    }
  }
}

.form-section {
  display: block;
  padding-top: 120px;
  width: 700px;
  margin: 1.875rem;
  // background: lightgray;

  input {
    width: 100%;
    border: 0;
    background: transparent;
    font-family: 'apercubold', sans-serif;
    font-size: 2.5rem;
    outline: none;
    color: #5e6773;
  }

  ::-webkit-input-placeholder {
    color: #8f9fb2;
  }
  ::-moz-placeholder {
    color: #8f9fb2;
    opacity: 1;
  }
  // :-ms-input-placeholder {
  //   /* IE 10+ */
  //   color: #6c7f9b;
  // }
  // :-moz-placeholder {
  //   /* Firefox 18- */
  //   color: #6c7f9b;
  // }

  [contenteditable='true']:empty:before {
    content: attr(placeholder);
    display: block; /* For Firefox */
    font-family: 'aperculight', sans-serif;
    color: #8f9fb2;
  }

  [contenteditable]:focus {
    outline: 0px solid transparent;
  }

  div[contenteditable] {
    color: #5e6773;
    font-size: 1.4rem;
    margin: 1.1em 0 5em 0;
    line-height: 2.2rem;
    word-spacing: 0.15rem;
  }
}
