// .collection {
//   width: 100%;
//   height: 100vh;
//   background: $primary-bg-dark;
// }

.collection-header {
  z-index: 999;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  // align-items: flex-end;
  align-items: center;
  height: 134px;
  background: $primary-bg-dark;
  padding: 0 2.1875rem 1.25rem 3.375rem;
  padding: 0 2.1875rem 0 3.375rem;
  // box-shadow: 0px 10px 70px 0px rgba(90, 99, 115, 1);

  .collection-back {
    display: flex;
    align-items: center;
    height: 4.3125rem;
    font-family: 'apercubold', sans-serif;
    letter-spacing: 0.1rem;
    color: #fff;
    // font-size: 0.75rem;

    svg {
      margin-right: 0.8125rem;
    }
  }

  .header-button-container {
    display: inline-block;

    .term-count {
      display: inline-block;
      margin-right: 2.6875rem;
    }

    .session-button {
      border: 0;
      font-size: 0.8125rem;
      background: $start-button;
      margin-right: 1.3125rem;
      padding: 26.5px 0;

      &:hover {
        background: darken($start-button, 10%);
      }
    }

    .add-button {
      padding: 27px 0;
      background: $dark-button;

      svg {
        margin-right: 6px;
      }

      &:hover {
        background: darken($dark-button, 10%);
      }
    }

    button,
    .term-count {
      font-family: 'apercubold', sans-serif;
      color: #fff;
      letter-spacing: 0.1rem;
    }

    button {
      width: 13.5625rem;
      height: 4.3125rem;
      border-radius: 500px;
      border: 0;
      outline: none;
      cursor: pointer;
      transition: 0.3s ease;
    }
  }
}

.collection-section {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 180px;
  padding-bottom: 100px;

  // background: red;

  .card-container {
    width: 734px;
  }
}
