// .collection {
//   width: 100%;
//   height: 100vh;
//   background: $primary-bg-dark;
// }

.collection-header {
  z-index: 999;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background: $primary-bg-dark;
  padding: 0 2.5rem;

  h1 {
    color: $text-light;
  }

  .header-button-container {
    display: inline-block;

    .session-button {
      color: $text-light;
      border: 0;
      // width: 15rem;
      height: 3.75rem;
      background: $start-button;
      margin-right: 1.375rem;

      &:hover {
        background: darken($start-button, 10%);
        transform: scale(1.02);
      }
    }

    .add-button {
      color: $text-light;
      // width: 12rem;
      height: 3.75rem;
      background: transparent;
      border: 0.0938rem solid $text-light;

      &:hover {
        color: $primary-bg-dark;
        background: $text-light;
      }
    }

    button {
      font-family: 'sailecbold', sans-serif;
      font-size: 0.77rem;
      letter-spacing: 0.1rem;
      border-radius: 500px;
      padding: 0 1.875rem;
      // padding: 1.4375rem 0;
      cursor: pointer;
      transition: 0.3s ease;
    }
  }
}

.card-counter {
  z-index: 999;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 45px;
  font-family: 'saileclight', sans-serif;
  letter-spacing: 0.1113rem;
  color: $text-light;
  font-size: 0.8125rem;
  background: $primary-bg-dark;
  border-radius: 500px;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  // box-shadow: 0 11px 49px 17px rgba(90, 99, 115, 0.75);
}

.collection-section {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 210px;

  // background: red;

  .card-container {
    width: 35.4375rem;
  }
}
