.collection-card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 60px;
  text-align: center;
  margin-bottom: 21px;
  padding: 40px 50px;
  background: #fff;
  border-radius: 0 0 0.25rem 0.25rem;
  border-top: 6px solid #8d9ab2;
  cursor: pointer;
  transition: 0.3s ease;

  @include desktop {
    flex-direction: row;
    // align-items: center;
    padding: 40px 0;
  }

  .card-count,
  .card-term,
  .card-description {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-count {
    flex-shrink: 0;
    min-height: inherit;
    font-size: 2rem;
    color: #cfd2d5;

    @include desktop {
      width: 5.375rem;
    }
  }

  .card-term {
    flex-shrink: 0;
    min-height: inherit;
    padding-bottom: 2rem;
    color: $primary-bg-dark;

    @include desktop {
      width: 16.25rem;
      padding: 0 2.375rem 0 0.625rem;
    }
  }

  .card-description {
    font-family: 'apercuregular', sans-serif;
    color: #7f8b9b;
    justify-content: center;
    padding: 2rem 0 1.5rem 0;
    text-align: left;
    min-height: inherit;
    width: 100%;
    border-top: 1px solid #eee;

    @include desktop {
      justify-content: flex-start;
      padding: 0 4.625rem 0 2.375rem;
      border-left: 1px solid #eee;
      border-top: 0;
    }

    h4 {
      text-align: center;

      @include desktop {
        text-align: left;
      }
    }
  }

  .delete-button {
    position: absolute;
    top: 18px;
    right: 18px;
    border: 0;
    padding: 0;
    transition: 0.2s ease;
    outline: none;
    cursor: pointer;

    svg {
      pointer-events: none;
    }

    &:hover {
      transform: scale(1.1);
      transform-origin: center;
    }
  }

  a {
    text-decoration: none;
  }

  &:hover {
    transform: scale(1.015);
  }
}
