.collection-card {
  display: flex;
  position: relative;
  // align-items: center;
  // flex-wrap: wrap;
  width: 100%;
  min-height: 60px;
  // height: 200px;
  text-align: center;
  margin-bottom: 1.3125rem;
  padding: 40px 0;
  background: #fff;
  // border-radius: 0.25rem;
  border-radius: 0 0 0.25rem 0.25rem;
  border-top: 6px solid #8d9ab2;
  cursor: pointer;
  transition: 0.3s ease;

  .card-count,
  .card-term,
  .card-description {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-count {
    flex-shrink: 0;
    min-height: inherit;
    width: 5.375rem;
    font-size: 2rem;
    color: #cfd2d5;
  }

  .card-term {
    flex-shrink: 0;
    min-height: inherit;
    width: 16.25rem;
    padding: 0 2.375rem 0 0.625rem;
    color: $primary-bg-dark;
  }

  .card-description {
    font-family: 'apercuregular', sans-serif;
    color: #7f8b9b;
    justify-content: flex-start;
    padding: 0 4.625rem 0 2.375rem;
    text-align: left;
    min-height: inherit;
    width: 100%;
    border-left: 1px solid #dedede;
  }

  &:hover {
    transform: scale(1.015);
  }
}

.delete-button {
  position: absolute;
  top: 18px;
  right: 18px;
  border: 0;
  padding: 0;
  transition: 0.2s ease;
  outline: none;
  cursor: pointer;

  svg {
    pointer-events: none;
  }

  &:hover {
    transform: scale(1.1);
    transform-origin: center;
  }
}

a {
  text-decoration: none;
}
