.collection-card {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 7.5rem;
  text-align: center;
  margin-bottom: 1.3125rem;
  // background: $text-light;
  background: #fff;
  // border-radius: 0 0 0.375rem 0.375rem;
  border-radius: 0.375rem;
  border-top: 6px solid #8d9ab2;
  padding: 2.1875rem 6.8rem;
  cursor: pointer;
  transition: 0.3s ease;

  .card-number {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    // top: 2.1875rem;
    left: 2.1875rem;
    font-size: 2.5rem;
    // font-size: 2rem;
    font-family: 'sailecmedium', sans-serif;
    color: #cfd2d5;
  }

  h2 {
    color: $primary-bg-dark;
  }

  .delete-button {
    position: absolute;
    top: 18px;
    right: 18px;
    border: 0;
    padding: 0;
    transition: 0.2s ease;
    outline: none;
    cursor: pointer;

    svg {
      pointer-events: none;
    }

    &:hover {
      transform: scale(1.1);
      transform-origin: center;
    }
  }

  &:hover {
    // opacity: 0.6;
    transform: scale(1.015);
  }
}

a {
  text-decoration: none;
}
