.home-header {
  z-index: 999;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 134px;
  background: $primary-bg-dark;
  box-shadow: 0px 5px 50px 0px rgba(90, 99, 115, 0.5);

  @include desktop {
    justify-content: space-between;
    padding: 0 2.1875rem 0 3.375rem;
  }

  h1 {
    display: none;
    color: #fff;
    cursor: default;

    @include desktop {
      display: block;
    }
  }

  .header-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop {
      flex-direction: row;
    }

    .term-count {
      margin-bottom: 1rem;

      @include desktop {
        margin: 0 2.6875rem 0 0;
      }
    }

    .add-button {
      padding: 27px 0;
      background: $dark-button;
      width: 13.5625rem;
      height: 4.3125rem;
      border-radius: 500px;
      border: 0;
      outline: none;
      cursor: pointer;
      transition: 0.3s ease;

      svg {
        margin-right: 6px;
      }

      @include desktop {
        &:hover {
          background: darken($dark-button, 10%);
        }
      }
    }

    button,
    .term-count {
      font-family: 'apercubold', sans-serif;
      color: #fff;
      letter-spacing: 0.1rem;
    }
  }
}

.set-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  padding-top: 150px;
  width: 100%;
  height: 100%;

  @include desktop {
    justify-content: flex-start;
  }

  .placeholder {
    width: 275px;
    height: 304px;
    margin: 24px;
    margin-bottom: 80px;
    background: #5f6776;
    border-radius: 0 0 0.25rem 0.25rem;
    animation: pulse 0.7s ease infinite alternate;
  }
}
