.study-header {
  flex-shrink: 0;
  z-index: 999;
  width: 100%;
  display: flex;
  align-items: center;
  height: 90px;
  background: transparent;
  padding: 0 2.1875rem;

  @include desktop {
    height: 134px;
  }

  a {
    text-decoration: none;
  }

  .back,
  .title,
  .shuffle {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 10px;
    width: 100%;
    background: #929bac;
    transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .back {
    display: flex;
    justify-content: flex-start;

    .back-container {
      // position: absolute;
      // top: 1.25rem;
      // left: 1.25rem;
      display: flex;
      align-items: center;
      height: 4.3125rem;
      font-family: 'apercubold', sans-serif;
      letter-spacing: 0.1rem;
      color: #fff;
      cursor: pointer;

      // @include desktop {
      //   position: static;
      //   display: flex;
      //   align-items: center;
      // }

      h5 {
        display: none;

        @include desktop {
          display: block;
        }
      }

      svg {
        margin-right: 0.8125rem;
        transition: 0.3s ease;
      }

      &:hover {
        svg {
          transform: translateX(-3px);
        }
      }
    }
  }

  .title {
    h4 {
      color: #fff;
      font-family: 'apercuregular', sans-serif;
      letter-spacing: 0.1125rem;
      text-align: center;
    }
  }

  .shuffle {
    display: flex;
    justify-content: flex-end;

    button {
      font-family: inherit;
      padding: 11px 0;
      border: 0;
      color: #fff;
      outline: none;
      width: 102px;
      height: 36px;
      border-radius: 4px;
      letter-spacing: 0.1rem;
      background: $dark-button;
      cursor: pointer;
      transition: 0.3s ease;

      &:hover {
        background: darken($dark-button, 10%);
      }
    }
  }
}
