.study {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.study-content-container {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px;

  .left-swipe,
  .right-swipe {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;

    button {
      background: none;
      border: 0;
      outline: 0;
      cursor: pointer;
      transition: 0.2s ease;
    }

    svg {
      pointer-events: none;
    }
  }

  .left-swipe {
    display: none;

    button:hover {
      transform: scale(1.07);
    }

    @include desktop {
      display: flex;
    }
  }

  .right-swipe {
    display: none;

    button:hover {
      transform: scale(1.07);
    }

    svg {
      transform: rotate(180deg);
    }

    @include desktop {
      display: flex;
    }
  }

  .study-card-wrapper {
    z-index: 999;
    position: relative;
    width: 440px;
    height: 500px;

    .placeholder {
      width: 100%;
      height: 450px;
      background: #5f6776;
      border-radius: 10px;
      animation: pulse 0.7s ease infinite alternate;

      @include desktop {
        height: 500px;
      }
    }
  }
}

.reload-buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-40%);

  h2 {
    text-align: center;
    color: #fff;
    font-size: 1.4rem;
    letter-spacing: 0.06rem;
    margin-bottom: 3rem;

    @include desktop {
      font-size: 1.5625rem;
    }
  }

  h4 {
    display: none;
    text-align: center;
    color: #929bac;
    font-size: 0.8rem;
    letter-spacing: 0.08rem;
    margin-bottom: 1.8rem;

    @include desktop {
      display: block;
      font-size: 0.875rem;
    }
  }

  .button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
    }

    .reload-skipped-button {
      background: $dark-button;

      @include desktop {
        &:hover {
          background: darken($dark-button, 10%);
        }
      }
    }

    .reload-all-button {
      background: $start-button;

      @include desktop {
        &:hover {
          background: darken($start-button, 10%);
        }
      }
    }

    button {
      font-family: 'apercubold', sans-serif;
      font-size: 0.8125rem;
      letter-spacing: 0.16rem;
      width: 13.5625rem;
      height: 4.3125rem;
      border-radius: 500px;
      padding: 27px 0;
      color: #fff;
      border: 0;
      outline: none;
      margin: 10px;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      cursor: pointer;
      transition: 0.3s ease;
    }
  }
}
