.study-card {
  position: absolute;
  // width: 440px; //
  // height: 500px; //
  width: 100%;
  height: 450px;
  border-radius: 10px;
  perspective: 400vw;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  @include desktop {
    height: 500px;
    perspective: 150vw;
  }

  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    transform-style: preserve-3d;

    &.flipped {
      transform: rotateY(180deg);
      transition: transform 0.3s;
    }
  }

  .front,
  .back {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    height: 100%;
    width: 100%;
    background: white;
    text-align: center;
    border-radius: 10px;
    color: $primary-bg-dark;
    padding: 40px;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    box-shadow: 4px 4px 20px 4px rgba(0, 0, 0, 0.05);
  }

  .front {
    h2 {
      position: relative;
      letter-spacing: 0.11rem;
      line-height: 2.5rem;

      &:before {
        content: 'TERM';
        color: $placeholder-text;
        font-size: 0.875rem;
        letter-spacing: 1.87px;
        position: absolute;
        top: -80px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .back {
    transform: rotateY(180deg);
    font-family: 'apercuregular', sans-serif;

    @include desktop {
      p {
        line-height: 1.5;
      }
    }
  }
}
