.study-header {
  flex-shrink: 0;
  z-index: 999;
  width: 100%;
  display: flex;
  align-items: center;
  height: 90px;
  background: transparent;
  padding: 0 1.25rem;

  @include desktop {
    padding: 0 2.1875rem;
    align-items: flex-end;
  }

  a {
    text-decoration: none;
  }

  .back,
  .title,
  .shuffle {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 10px;
    width: 100%;
    background: #929bac;
    transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .back {
    display: flex;
    justify-content: flex-start;

    .back-container {
      display: flex;
      align-items: center;
      font-family: 'apercubold', sans-serif;
      letter-spacing: 0.1rem;
      color: #fff;
      cursor: pointer;

      h5 {
        display: none;

        @include desktop {
          display: block;
        }
      }

      svg {
        margin-right: 0.8125rem;
        transition: 0.3s ease;
      }

      &:hover {
        svg {
          transform: translateX(-3px);
        }
      }
    }
  }

  .title {
    flex-grow: 2;

    h4 {
      color: #fff;
      font-family: 'apercuregular', sans-serif;
      letter-spacing: 0.1125rem;
      text-align: center;
    }
  }

  .shuffle {
    display: flex;
    justify-content: flex-end;

    button {
      border-radius: 500px;
      border: 0;
      color: #fff;
      outline: none;
      background: $dark-button;
      font-family: inherit;
      letter-spacing: 0.1rem;
      width: 80px;
      height: 37px;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      cursor: pointer;
      transition: 0.3s ease;

      h5 {
        font-size: 0.6rem;
      }

      @include desktop {
        padding: 11px 0;
        width: 102px;
        height: 36px;
        border-radius: 4px;

        h5 {
          font-size: 0.75rem;
        }

        &:hover {
          background: darken($dark-button, 10%);
        }
      }
    }
  }
}
