.study-card {
  position: absolute;
  // background: #fff;
  // border: 1px solid $placeholder-text;
  width: 440px;
  height: 500px;
  border-radius: 10px;
  perspective: 150vw;

  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;

    &.flipped {
      transform: rotateY(180deg);
      transition: transform 0.5s;
    }
  }

  .front,
  .back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    text-align: center;
    border-radius: 10px;
    backface-visibility: hidden;
  }

  .back {
    background: peru;
    color: #fff;
    transform: rotateY(180deg);
  }

  // &:hover .content {
  //   transform: rotateY(180deg);
  //   transition: transform 0.5s;
  // }
}
