.study-card-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: peru;

  .wrapper {
    position: relative;
    width: 440px;
    height: 500px;

    .reload-buttons {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50deg) translateY(-50deg);
    }
  }
}
