.study-header {
  z-index: 999;
  position: fixed;
  width: 100%;
  display: flex;
  // justify-content: space-between;
  // align-items: flex-end;
  align-items: center;
  height: 134px;
  // background: $primary-bg-dark;
  background: transparent;
  padding: 0 2.1875rem;
  // box-shadow: 0px 5px 50px 0px rgba(90, 99, 115, 0.5);

  a {
    text-decoration: none;
  }

  .back,
  .title,
  .shuffle {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .back {
    display: flex;
    justify-content: flex-start;

    .back-container {
      display: flex;
      align-items: center;
      height: 4.3125rem;
      font-family: 'apercubold', sans-serif;
      letter-spacing: 0.1rem;
      color: #fff;
      cursor: pointer;

      svg {
        margin-right: 0.8125rem;
        transition: 0.3s ease;
      }

      &:hover {
        svg {
          transform: translateX(-3px);
        }
      }
    }
  }

  .title {
    h4 {
      color: #fff;
      font-family: 'apercuregular', sans-serif;
      letter-spacing: 0.1125rem;
    }
  }

  .shuffle {
    display: flex;
    justify-content: flex-end;

    button {
      font-family: inherit;
      padding: 11px 0;
      border: 0;
      color: #fff;
      outline: none;
      width: 102px;
      height: 36px;
      border-radius: 4px;
      letter-spacing: 0.1rem;
      background: $dark-button;
      cursor: pointer;
      transition: 0.3s ease;

      &:hover {
        background: darken($dark-button, 10%);
      }
    }
  }
}

.study-card-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: peru;

  .wrapper {
    position: relative;
    width: 440px;
    height: 500px;

    .reload-buttons {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50deg) translateY(-50deg);
    }
  }
}
