.study-card {
  position: absolute;
  // background: #fff;
  // border: 1px solid $placeholder-text;
  width: 440px;
  height: 500px;
  border-radius: 10px;
  perspective: 150vw;
  cursor: pointer;
  // transform: rotate(-2deg);

  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    transform-style: preserve-3d;

    &.flipped {
      transform: rotateY(180deg);
      transition: transform 0.3s;
    }
  }

  .front,
  .back {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    height: 100%;
    width: 100%;
    background: white;
    text-align: center;
    border-radius: 10px;
    color: $primary-bg-dark;
    padding: 40px;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    box-shadow: 4px 4px 20px 4px rgba(0, 0, 0, 0.05);

    h2 {
      position: relative;
      letter-spacing: 0.16rem;
      line-height: 1.75rem;

      &:before {
        content: 'TERM';
        color: $placeholder-text;
        font-size: 0.875rem;
        letter-spacing: 1.87px;
        position: absolute;
        top: -80px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .back {
    transform: rotateY(180deg);
  }

  // &:hover .content {
  //   transform: rotateY(180deg);
  //   transition: transform 0.5s;
  // }
}
