$primary-bg: dodgerBlue;
$primary-bg-dark: #5a6373;
$primary-bg-darkL: #626c7d;
$placeholder-text: #8f9fb2;

$start-button: #72b4a6;
$dark-button: #4c5565;

// text colors
// $text-light: #fcf5ed;

body {
  font-family: 'apercumedium', sans-serif;
  background-color: $primary-bg-dark;
  padding: 0;
  margin: 0;
}

// html {
//   font-size: 10px;
// }

@font-face {
  font-family: 'apercubold';
  src: url('../fonts/apercubold.woff') format('woff');
}

@font-face {
  font-family: 'apercuregular';
  src: url('../fonts/apercuregular.woff') format('woff');
}

@font-face {
  font-family: 'apercumedium';
  src: url('../fonts/apercumedium.woff') format('woff');
}

@font-face {
  font-family: 'aperculight';
  src: url('../fonts/aperculight.woff') format('woff');
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2.1875rem;
  letter-spacing: 0.1rem;
}

// 28
h2 {
  font-size: 1.75rem;
}

// 19
h3 {
  font-size: 1.1875rem;
  letter-spacing: 0.0775rem;
  line-height: 1.75rem;
}

// 14
h4 {
  font-size: 0.875rem;
  // letter-spacing: 0.0581rem;
  letter-spacing: 0.04rem;
  // word-spacing: 0.06rem;
  line-height: 1.5rem;
}

// 12
h5 {
  font-size: 0.75rem;
}

h1,
h2,
h3,
h4,
h5 {
  display: inline;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

// placeholder animations
@keyframes pulse {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
    // background: lighten(#5f6776, 2%);
  }
}

.empty-message {
  z-index: 9999;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%) translateY(-40%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h2 {
    color: #fff;
    font-size: 1.5625rem;
    margin-bottom: 1.25rem;
    letter-spacing: 0.06rem;
  }

  h4 {
    color: #929bac;
    font-size: 13px;
    letter-spacing: 0.08rem;
  }
}

// add to new component

// .swipe-enter {
//   left: 0;
// }
// .swipe-enter-active {
//   left: 0;
// }
// .swipe-exit {
//   left: 0;
// }
// .swipe-exit-active {
//   left: -500px;
//   transition: 0.3s ease;
// }
