$primary-bg: dodgerBlue;
$primary-bg-dark: #5a6373;
$primary-bg-darkL: #626c7d;

$start-button: #72b4a6;
$dark-button: #4c5565;

// text colors
// $text-light: #fcf5ed;

body {
  font-family: 'apercumedium', sans-serif;
  background-color: $primary-bg-dark;
  padding: 0;
  margin: 0;
}

// html {
//   font-size: 10px;
// }

@font-face {
  font-family: 'apercubold';
  src: url('../fonts/apercubold.woff') format('woff');
}

@font-face {
  font-family: 'apercumedium';
  src: url('../fonts/apercumedium.woff') format('woff');
}

@font-face {
  font-family: 'aperculight';
  src: url('../fonts/aperculight.woff') format('woff');
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2.375rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.1875rem;
  letter-spacing: 0.0775rem;
  line-height: 1.75rem;
}

// 14
h4 {
  font-size: 0.875rem;
  letter-spacing: 0.0581rem;
  line-height: 1.25rem;
}

h5 {
  font-size: 0.75rem;
}

h1,
h2,
h3,
h4 {
  display: inline;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
